{% extends "base.html.twig" %}

{% block body %}
    <h1>Add a new book</h1>

    {{ form_start(form) }}

    {{ form_label(form.ISBN) }}
    {{ form_widget(form.ISBN) }}
    <br>

    {{ form_label(form.title) }}
    {{ form_widget(form.title) }}
    <br>

    {{ form_label(form.publisher) }}
    {{ form_widget(form.publisher) }}
    <br>

    {{ form_label(form.issueNumber) }}
    {{ form_widget(form.issueNumber) }}
    <br>

    {{ form_label(form.pages) }}
    {{ form_widget(form.pages) }}
    <br>

    {{ form_label(form.releaseDate) }}
    {{ form_widget(form.releaseDate) }}
    <br>

    {{ form_label(form.genre) }}
    {{ form_widget(form.genre) }}
    <br>

    {{ form_label(form.language) }}
    {{ form_widget(form.language) }}
    <br>

    {{ form_row(form.author) }}
    {{ form_row(form.branch) }}

    <button type="submit" class="btn btn-primary">Add</button>
    {{ form_end(form) }}

{% endblock %}