{% extends 'base.html.twig' %}

{% block title %}
    Books Page
{% endblock %}

{% block body %}

    <a href="{{ path('add_book') }}" class"btn btn-success">Add Book</a>
    <a href="{{ path('add_author') }}" class"btn btn-success">Add Author</a>

    <table style="width: 100%;">
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 50%;">
            <col style="width: 20%;">
        </colgroup>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for book in books %}
            <tr> 
                <td>
                    <a href="{{ path('book', {'id': book.id}) }}">{{ book.title }}</a>
                </td>
                <td>{{ book.author }}</td>
                <td style="text-align: center">
                    <a href="{{ path('edit_book', {'id':book.id}) }}"
                    class="btn btn-primary">
                        Edit
                    </a>
                    <a href="{{ path('delete_book', {'id': book.id }) }}"
                    class="delete-link"
                    onclick="return confirm('Do you want to delete this book?')">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
