{% extends 'base.html.twig' %}

{% block title %} 
    Book - {{ book.title }}
{% endblock %}
{% block body %}
    <h2> {{ book.title }} </h2>

    <a href="{{  path('borrow_book', {'id': book.id}) }}">
        Reserve
    </a>

    <h2>Add comment</h2>
    {{form(comment_form)}}

    {% if comments|length > 0 %}
        {% for comment in comments %}
            <p>{{ comment.author }}</p>
            <small>{{ comment.date|date('Y-m-d') }}</small>
            <p>{{ comment.content }}</p>
        {% endfor %}
    {% else %}
        <div> No comments </div>
    {% endif %}
{% endblock %}