{% extends 'base.html.twig' %}
{% import '@Symfony/Component/Intl/Twig/default.html.twig' as intl %}
{% block title %} 
    Book - {{ book.title }}
{% endblock %}
{% block body %}
    <h2> {{ book.title }} </h2>

    <h2>add comment</h2>
    {{form(comment_form)}}

    {% if comments|length > 0 %}
        {% for comment in comments %}
        
            <small>{{ comment.date|format_datetime('medium', 'short') }}</small>
            <p>{{ comment.content }}</p>
        {% endfor %}
    {% else %}
        <div> No comments </div>
    {% endif %}
{% endblock %}